table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #999595; 
  padding: 8px;
  text-align: center; 
}

th {
  background-color: #c7c5c5;
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

thead th {
  position: sticky;
  top: 0;
}

tbody {
  max-height: 400px; 
  overflow-y: auto; 
}

tr {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #5f73e2;
  cursor: default;
}

th:hover {
  cursor: pointer;
}

  